body {
  background-color: #FDF9EF !important;
  font-family: "Open Sans", Arial, sans-serif;
}

h1, h2 {
  font-family: "Proxima Nova", sans-serif;
}

p, select {
  font-size: 1.2em;
}

.locked-article img {
  width: 100%; 
  height: auto;
  border-radius: 8px;
}

.locked-article {
  position: relative;
  display: block;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 1);
  z-index: 1;
  border-radius: 8px;
}

.enabled {
  pointer-events: auto;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.icon {
  width: 48px;
  height: 48px;
}

.title {
  font-weight: bold;
}

.status-bar {
  display: flex;
  justify-content: space-between;
  background-color: #FFE583;
  padding: 0.5rem 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.status-item > * {
  display: inline;
}

.question-box {
  background-color: #FECA0B;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 1rem;
  align-items: center;
  min-height: 200px;
}

.question-box > * {
  font-size: 2em;
  font-weight: bold;
}

.clue {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px;
}

.clue-header {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.clue-header > * {
  display: inline;
}

.clue-text {
  margin-bottom: 0;
}

.disabled {
  opacity: 0.6;
}

#country-select select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #aaa;
  border-radius: 6px;
  font-size: 1rem;
}

.hidden {
  display: none;
}

#difficulty-selector {
  list-style: none;
  padding: 0;
}

[data-difficulty="easy"] button {
  background-color: #99e8ac;
}

[data-difficulty="easy"] button:hover {
  background-color: #7edc8f;
}

[data-difficulty="medium"] button {
  background-color: #f0e699
}

[data-difficulty="medium"] button:hover {
  background-color: #e4da71;
}

[data-difficulty="hard"] button {
  background-color: #f0a699;
}

[data-difficulty="hard"] button:hover {
  background-color: #e88e7e;
}

.difficulty-item {
  font-size: 2em;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #000000;
  width: 100%;
  color: #fff;
}

footer > * {
  display: block;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .question-box {
    min-height: 200px;
  }

  .question-box > * {
    font-size: 1.8em;
    font-weight: bold;
  }

  .header {
    margin: auto auto;
  }

  h2 {
    font-size: 1.3em;
  }

  footer {
    position: relative;
  }
}